# ---------------------------
# Arquivos de Sistema e IDEs
# ---------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ---------------------------
# Arquivos Temporários do Python
# ---------------------------
__pycache__/
*.py[cod]
*.log

# ---------------------------
# Ambientes Virtuais
# ---------------------------
venv/
*.venv
.env
Pipfile.lock
poetry.lock

# ---------------------------
# Arquivos Sensíveis
# ---------------------------
data/raw/*
data/processed/*

# ---------------------------
# Arquivos Jupyter Notebook
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# Arquivos do DBT
# ---------------------------
dbt/target/
dbt/logs/
dbt/dbt_packages/
manifest.json
run_results.json
catalog.json

# ---------------------------
# Outros Arquivos Temporários
# ---------------------------
*.bak
*.out
*.tmp
*.cache
*.lock
